form {
    width: 50%;
    margin: auto;
}

form > div {
    margin-bottom: .5rem;
}

form > div > label {
    display: block;
    font-size: 1.25rem;
}

form > div > input:not([type="submit"]),
form > div > select,
form > div > textarea {
    display: block;
    width: 100%;
}

form > div > p {
    color: var(--primary);
}

form > div > textarea {
    resize: vertical;
    min-height: 5rem;
    max-height: 75vh;
}