@keyframes slideUpBounce {
  0% {
    transform: translateY(5rem);
  }

  70% {
    transform: translateY(-.5rem);
  }

  90% {
    transform: translateY(.25rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(3rem);
  }
}