/*
 * Transiciones
 */
.transition-fast {
  transition: var(--transition-function) .1s;
}

.transition {
  transition: var(--transition-function) .25s;
}

.transition-slow {
  transition: var(--transition-function) .5s;
}

/*
 * Elimina el texto sobrante la linea y añade ... al final
 */
.elipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
 * Validation helpers
 */

.validation {
  font-size: .75rem;
  padding: .25em 0;
}

.text-error {
  color: var(--danger);
}