/*
 * Esquema de colores
 */
:root {
  --primary: #e91e63;
  --secondary: #ddd;
}

/*
 * Especificamos por defecto el tema oscuro
 */
:root {
  --background: #212121;
  --background-secondary: #2f2f2f;
  --text-color: #fAfAfA;
}

/*
 * El usuario prefiere utilizar tema claro
 */
 /* TODO: implementar tema claro */
/* @media (prefers-color-scheme: light ) {
  :root {

  }
} */

/*
 * Variables no relacionadas con colores
 */
:root {
  --base-font-size: 14px;
  --nav-height: 3rem;
  --aside-width: 15%;
  --transition-function: ease-out;
}
